.adminPageRoot {
  margin-top: 100px;
  padding-left: 5%;
  padding-right: 5%;

  .menuTable {
    .title {
      font-size: x-large;
      font-weight: bold;
      text-align: center;
    }
  }

  .listTables {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .title {
      font-size: x-large;
      font-weight: bold;
      text-align: center;
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 767px) {
  .adminPageRoot {
    margin-top: 80px;

    .menuTable {
      margin-bottom: 20px;

      .title {
        margin-bottom: 10px;
      }
    }

    .listTables {
      margin-bottom: 60px;
      flex-direction: column;

      >div {
        margin-top: 60px;
      }

      .title {
        font-size: large;
        padding-bottom: 20px;
      }

      .generalTable {
        width: 100%;
        box-sizing: border-box;
        padding: 0 5%;
      }
    }
  }
}